
<div>
<img src="Images/LOGO.png" width="300" align="right">
</div>

# Learning Healthcare Systems

Estaimted time needed: **6** hours

## Objectives

After completing this course you will be able to:

-   Acquire data in various ways
-   Obtain insights from Data with Pandas library



<h1 id="data_acquisition">Data Acquisition</h1>
<p>
In this section, you will learn how to load a dataset into our Jupyter Notebook and create cohort for the futher analysis.<br>
We will use the Type-2 Diabetes (T2D) dataset. It includes data extracted from the Indiana Network for Patient Care for patients presenting with Diabetes.<br>
    <br>
    The dataset consists of 5 tables in CSV (comma separated value) format:
    
-   Patients table 
-   Prescription medication table 
-   Encounters table 
-   Diagnoses table 
-   Clinical variables (e.g. tests, measurements etc.) table 
    
Deatailed dataset description: <a href="https://github.com/regenstrief/T15Training/blob/master/Dictionaries/Data%20Dictionary%20-%20T2D.md" target="_blank">https://github.com/regenstrief/T15Training/blob/master/Dictionaries/Data%20Dictionary%20-%20T2D.md</a></li>

The Pandas Library is a useful tool for data manipulation and analysis. 
</p>

In [1]:
import pandas as pd

<h2>Read Data</h2>
<p>
We use <code>pandas.read_csv()</code> function to read the csv file. In the bracket, we put the file name and path along with a quotation mark, so that pandas will read the file into a data frame from that address. The file path can be either an URL or your local file address.<br>

You can also assign the dataset to any variable you create.
</p>

In [2]:
patients_df = pd.read_csv('patients.csv', sep=',')
diagnosis_df = pd.read_csv('diagnosis.csv', sep=',')
encounters_df = pd.read_csv('encounters.csv', sep=',')

<h1 id="basic_insight">Basic Insight of Dataset</h1>
<p>
Next step after reading data into Pandas dataframe, it is data exploration.<br>
There are several ways to obtain essential insights of the data to help us better understand our dataset.
</p>

<h2>Data Types</h2>
<p>
Data has a variety of types.<br>
The main types stored in Pandas dataframes are <b>object</b>, <b>float</b>, <b>int</b>, <b>bool</b> and <b>datetime64</b>. To better learn about each attribute, it is a good practice for us to know the data type of each column. In Pandas:
</p>

In [3]:
# check the data types of data frame's columns by .dtypes
patients_df.dtypes

STUDYID             int64
INDEX_YEAR          int64
INDEX_AGE           int64
GENDER             object
RACE               object
T2D_STATUS         object
CARDIOVASCULAR    float64
NEPHROPATHY       float64
LIVER             float64
ENC_12M_BF          int64
ENC_12M_AF          int64
ENC_YRS_BF          int64
ENC_YRS_AF          int64
BIOBANK           float64
dtype: object

In [4]:
# I don't know should any activity be included into jupyter, but here is my offer of who to organose it.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1>Activity #1: </h1>
<b>Check data types of diagnosis dataframe.</b>
</div>

In [5]:
#student's solution

Double-click <b>here</b> to see the solution.

<!-- The answer is below:

diagnosis_df.dtypes

-->

<h2>Describe</h2>

To get a statistical summary of each column, such as count, column mean value, column standard deviation, etc. use the describe method:
<p>
This shows the statistical summary of all numeric-typed (int, float) columns.<br>
For example, the attribute "ENC_12M_BF" (Encounters in 12 month period before index event) has 77908 counts, the mean value of this column is 8.28, the standard deviation is 18.7, the minimum value is 0, 25th percentile is 1, 50th percentile is 5, 75th percentile is 7, and the maximum value is 363.
<br>

In [6]:
patients_df.describe()

,STUDYID,INDEX_YEAR,INDEX_AGE,CARDIOVASCULAR,NEPHROPATHY,LIVER,ENC_12M_BF,ENC_12M_AF,ENC_YRS_BF,ENC_YRS_AF,BIOBANK
count,7.790800e+04,77908.000000,77908.000000,51568.0,7453.0,3730.0,77908.000000,77908.000000,77908.000000,77908.000000,539.0
mean,6.660509e+05,2008.615380,56.011745,1.0,1.0,1.0,8.276827,13.344997,2.355676,3.660754,1.0
std,3.591046e+05,3.955751,14.771435,0.0,0.0,0.0,18.709342,22.274271,2.850258,3.148038,0.0
min,1.600000e+01,1995.000000,18.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,1.0
25%,3.583355e+05,2006.000000,47.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,1.000000,1.0
50%,7.017345e+05,2009.000000,57.000000,1.0,1.0,1.0,2.000000,5.000000,1.000000,3.000000,1.0
75%,9.816602e+05,2012.000000,66.000000,1.0,1.0,1.0,7.000000,15.000000,3.000000,5.000000,1.0
max,1.256051e+06,2015.000000,85.000000,1.0,1.0,1.0,363.000000,359.000000,20.000000,20.000000,1.0

<br><br>
To check all the columns including those that are of type 'object' add an argument <code>include = "all"</code> inside the bracket. 
</p>

In [7]:
# describe all the columns in "df" 
patients_df.describe(include = "all")

,STUDYID,INDEX_YEAR,INDEX_AGE,GENDER,RACE,T2D_STATUS,CARDIOVASCULAR,NEPHROPATHY,LIVER,ENC_12M_BF,ENC_12M_AF,ENC_YRS_BF,ENC_YRS_AF,BIOBANK
count,7.790800e+04,77908.000000,77908.000000,77908,77908,77908,51568.0,7453.0,3730.0,77908.000000,77908.000000,77908.000000,77908.000000,539.0
unique,NaN,NaN,NaN,2,10,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,F,WHITE,ICD2 Only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,40993,39337,41409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,6.660509e+05,2008.615380,56.011745,NaN,NaN,NaN,1.0,1.0,1.0,8.276827,13.344997,2.355676,3.660754,1.0
std,3.591046e+05,3.955751,14.771435,NaN,NaN,NaN,0.0,0.0,0.0,18.709342,22.274271,2.850258,3.148038,0.0
min,1.600000e+01,1995.000000,18.000000,NaN,NaN,NaN,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,1.0
25%,3.583355e+05,2006.000000,47.000000,NaN,NaN,NaN,1.0,1.0,1.0,0.000000,1.000000,1.000000,1.000000,1.0
50%,7.017345e+05,2009.000000,57.000000,NaN,NaN,NaN,1.0,1.0,1.0,2.000000,5.000000,1.000000,3.000000,1.0
75%,9.816602e+05,2012.000000,66.000000,NaN,NaN,NaN,1.0,1.0,1.0,7.000000,15.000000,3.000000,5.000000,1.0
max,1.256051e+06,2015.000000,85.000000,NaN,NaN,NaN,1.0,1.0,1.0,363.000000,359.000000,20.000000,20.000000,1.0

<h2>Info</h2>
Another method to check a dataset is  <code>dataframe.info()</code>.
It provides a concise summary of the DataFrame.

In [8]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77908 entries, 0 to 77907
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STUDYID         77908 non-null  int64
 1   INDEX_YEAR      77908 non-null  int64
 2   INDEX_AGE       77908 non-null  int64
 3   GENDER          77908 non-null  object
 4   RACE            77908 non-null  object
 5   T2D_STATUS      77908 non-null  object
 6   CARDIOVASCULAR  51568 non-null  float64
 7   NEPHROPATHY     7453 non-null   float64
 8   LIVER           3730 non-null   float64
 9   ENC_12M_BF      77908 non-null  int64
 10  ENC_12M_AF      77908 non-null  int64
 11  ENC_YRS_BF      77908 non-null  int64
 12  ENC_YRS_AF      77908 non-null  int64
 13  BIOBANK         539 non-null    float64
dtypes: float64(4), int64(7), object(3)
memory usage: 8.3+ MB

# The cohort creation

The main goal of this section is to create a cohort for identification outpatient clinic patients who are at higher risk of hospitalisation or ED visit. To build dataset the following steps should be tacken
- Analysis of tables that will be used for the cohort (Figure 1.A.)
- Creation of table with inpatients as a result of diabeties based on 'Encounters' table (identifies the fact of admission) and 'Diagnosis' (identifies the reason of admission) (Figure 1.B.)
- Joining tables 'Patients' and tables with admitted to a hospital patients due to deabities (Figure 1.C.)

<div>
<img src="Images/data_linkage.png" width="1000" >
</div>

Creating of digital phenotype (Figure 1.B.):

In [9]:
# Filtering of table 'Encounters' by type of care setting name and date.
encounters_inp_df=encounters_df[(encounters_df['CARE_SETTING_NAME'].str.contains('INPATIENT')) & (encounters_df['DAYS_ENC_INDEX']>0)]

In [10]:
# Filtering of table 'Diagnosis' by ICD-9 code: 250.00 and date.
diagnosis_diab_df=diagnosis_df[diagnosis_df['DX_CODE'].str.contains('250\.0') & (diagnosis_df['DAYS_DX_INDEX']>0)]

In [11]:
# Joining of filtered 'Encounters' and 'Diagnosis' tables
inp_diab = pd.merge(encounters_inp_df, diagnosis_diab_df, on='STUDYID', how='inner')
# Add additional condition that time between admission and diagnosis setting should be less than 30 days
inp_diab=inp_diab[(inp_diab['DAYS_DX_INDEX'] <= (inp_diab['DAYS_ENC_INDEX']+30)) & (inp_diab['DAYS_DX_INDEX']>=inp_diab['DAYS_ENC_INDEX'])]
# Selection of only unique records
inp_diab=inp_diab[['STUDYID','CARE_SETTING_NAME']].drop_duplicates()

Link data to final cohort (Figure 1.C.):

In [12]:
#Joining patients and inpatients
cohort = pd.merge(patients_df, inp_diab, on='STUDYID', how='left')

In [13]:
#Changing name of hs just joineed column from 'CARE_SETTING_NAME' to 'LABEL'
cohort.rename(columns={'CARE_SETTING_NAME':'LABEL'}, inplace=True)
#For all INPATIENT set label = 1
cohort.loc[(cohort['LABEL'] == 'INPATIENT') , 'LABEL'] = 1
#For pther patients set label = 0
cohort['LABEL'].fillna(0, inplace=True)

In [14]:
#Removing irrelevant or label-related columns
cohort.drop(columns=['STUDYID','ENC_12M_AF', 'ENC_YRS_BF', 'ENC_YRS_AF', 'BIOBANK'], inplace=True)

#Show number of rows and columns in final cohort
cohort.shape
print("Obtained dataset has {} rows and {} columns.".format(cohort.shape[0], cohort.shape[1]))

Obtained dataset has 77908 rows and 10 columns.

<h2>Dataset view</h2>
To have a look at the first five rows of a dataset use  <code>dataframe.head()</code>.
It provides a concise summary of the DataFrame.

In [15]:
# To see first 5 rows of final cohort
cohort.head()

,INDEX_YEAR,INDEX_AGE,GENDER,RACE,T2D_STATUS,CARDIOVASCULAR,NEPHROPATHY,LIVER,ENC_12M_BF,LABEL
0,1996,76,F,BLACK OR AFRICAN AMERICAN,ICD2 Only,1.0,NaN,NaN,4,1
1,1995,71,M,BLACK OR AFRICAN AMERICAN,ICD2+A1C,1.0,NaN,NaN,0,1
2,2014,71,M,BLACK OR AFRICAN AMERICAN,ICD2 Only,1.0,NaN,NaN,93,0
3,2013,57,M,BLACK OR AFRICAN AMERICAN,A1C Only,1.0,NaN,NaN,4,0
4,2003,78,F,BLACK OR AFRICAN AMERICAN,ICD2 Only,1.0,1.0,NaN,155,1

<h2>Save Dataset</h2>
<p>
Correspondingly, Pandas enables to save the dataset to csv by using the <code>dataframe.to_csv()</code> method. It is possible add the file path and name along with quotation marks in the brackets.
</p>
<p>
    For example, to save the dataframe <b>cohort</b> as <b>cohort_t2d.csv</b> to the local machine, use the syntax below:
</p>

In [16]:
cohort.to_csv("cohort_t2d.csv", index=False)

# Data Wrangling

# Model Development

# Model Evaluation

# Data Analysis

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [19]:
#sns.boxplot(x="T2D_STATUS", y="INDEX_AGE", data=cohort, palette = 'pastel')